body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ffd700, #cdaa7d, #4caf50);
}
.container-central2{
    width: 65%; 
    height: 55%; 
    background-color: #f0f0f0;
    text-align: center; 
    padding: 20px; 
    box-shadow: 2px 4px 6px #d4aa00, -3px -3px 5px #9c803f;
    background-color: rgba(200, 230, 201, 0.3);
    border-radius: 10px ;
}
h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    width: auto;
    
 
}
p {
    font-family: 'Great Vibes', cursive;

}
.centro-divisoria2{
    width: 500px;
    height: 3px;
    margin: auto;
    background: linear-gradient(to right, #ffd700, #cdaa7d, #4caf50);
    margin-top: -60px;
   
}
.rodape2{
    width: auto;
    height: 40px;
    margin-top: 40px;
    
    
}


